# Dependencies
node_modules/

# Build Artifacts
.next/
dist/
build/

# Environment variables
.env
*.env.*
!.env.example

# Logs & OS files
logs
*.log
npm-debug.log*
# ... other common ignores ...
.DS_Store
Thumbs.db